@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600");

.absolute-div {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.me-2 {
  height: 4rem;
  width: 35rem;
}
.search-bar {
  vertical-align: center;
  margin-top: 14rem;
}
